@charset "UTF-8";
/*
    em HTML é id    = em CSS é #
    em HTML é class = em CSS é .
*/
body {
    background-color: rgb(187, 247, 255);
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    color:rgb(13, 70, 134);
}

h1#principal {
    text-align: center;
    background-color: rgb(133, 224, 238);
}

h2 {
    color:rgb(8, 151, 8);
}

h2.basic {
    color: rgb(20, 245, 0);
}

h2.inter {
    color: yellow;
}

h2.advanced {
    color: darkred;
}